@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 10s linear infinite;
}

/* Pause animation on hover */
.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
} 